<h2>
   Por País
</h2>
<div class="row">
   <div class="col">
      <form (ngSubmit)="buscar()" autocomplete="false">
         <input
            type="text"
            name="termino"
            class="form-control"
            [(ngModel)]="termino"
            placeholder="Buscar país...">
      </form>
   </div>
</div>

<hr>

<div class="alert alert-danger">
   No se encontró la busqueda del término: dndson
</div>

<div class="row">
   <div class="col">
      <table class="table table">
         <thead>
            <tr>
               <th> # </th>
               <th> Bandera </th>
               <th> Nombre </th>
               <th> Población</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>1</td>
               <td>bandera</td>
               <td>nombre</td>
               <td>1561561</td>
               <td>
                  <a href="#">ver</a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
