<div *ngIf="!pais; else divPais" class="alert alert-info">
   Espere por favor...
</div>

<ng-template #divPais>

   <div class="row">
      <div class="col-12">
         <h1>País: <small>{{ pais.name.common }}</small></h1>
      </div>
   </div>
   <div class="row">
      <div class="col-4">
         <h3>Bandera</h3>
         <img [src]="pais.flags.svg" class="img-thumbnail">
      </div>
      <div class="col">
         <h3>Información</h3>
         <ul class="lis-group">
            <li class="list-group-item">
               <strong>Poblacion: </strong>{{pais.population | number}}
            </li>
         </ul>
      </div>
   </div>

   <h3>Traducciones</h3>
   <div class="row">
      <div class="col">
         <span class="badge bg-primary m-1" >{{ pais.translations['spa'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['ara'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['ita'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['swe'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['rus'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['slk'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['jpn'].common }}</span>
         <span class="badge bg-primary m-1" >{{ pais.translations['por'].common }}</span>
      </div>
   </div>
</ng-template>

